.main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: #f7f7f7;
}

.section1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px;
  background-color: #f7f7f7;
  box-shadow: 0px 0px 15px 20px #eeeeee;
}

.section2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 15px 20px white;
  height: 100vh;
}

.section3{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 60px;
  background-color: white;
}


.text{
  font-size: larger;
  color: #ed9600;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
  outline: none;
  border: none;
  font-size: large;
  color: #ed9600;
  border-bottom: 3px solid orange;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

button:hover{
  background-color: #ed9600;
  color: white;
}

.navWrapper{
  position: fixed;
  top: 0px;
  width: 100vw;
  background: white;
  box-shadow: 0px 0px 20px 5px #dbdbdb;
  z-index: 100;
  min-height: 50px;
  padding: 5px;
}

.mainNav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav div{
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.nav div:hover{
  color: #ed9600;
}

.cols{
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  min-width: 250px;
  max-width: 28vw;
  border: 1px solid orange;
  transition: 0.5s;
  cursor: pointer;
}

.cols:hover{
  box-shadow: 0px 0px 15px 20px #eeeeee;
}